header {
    background-color: lightblue;
    height: 75px;
    border-style: solid black;

}

#highscores {
    font-size: 1.5em;
    margin-top: 20px;
    float: left;
}

#time {
    font-size: 1.5em;
    margin-top: 20px;
    float: right;
}

section {
   text-align: center;
}


.quizBox {
    background-color: lightblue;
    text-align: center;
    margin-top: 100px;
}

#quizBoxquestions {
    font-size: 2em;
}

#quizBoxanswers {
    font-size: 1.5em;
    margin-top: 20px;
}