header {
    background-color: lightblue;
    height: 75px;
    border: solid black;
    padding: 20px;   
}

#highscores {
    font-size: 1.5em;
    margin-top: 20px;
    float: left;
}

#highScorebutton {
    background-color: lightblue;
    text-decoration: none;
    border: none;
    font-size: 1em;

}

#time {
    font-size: 1.5em;
    margin-top: 20px;
    float: right;
}

/* #correct {
    font-size: 2em;
    margin-left: 338px;
}

#incorrect {
    font-size: 2em;
    margin-left: 338px;
} */

section {
   text-align: center;
}

section h1 {
    font-size: 3em;
}

section p {
    font-size: 2em;
}

#questionBody {
    display: flex;
    justify-content: center;
}


#quizBox {
    display: none;
    background-color: rgb(170, 174, 175);
    margin-top: 100px;
    height: 200px;
    margin-left: 200px;
    width: 800px;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid lightblue;
   
}

#quizBoxquestions {
    font-size: 2em;
}

#quizBoxanswers {
    margin-top: 20px;
}

ul {
    list-style-type: none;
 }

li {
    font-size: 1.25em;
    margin: auto;
    text-decoration: none;
}

li:hover {
    background-color: lightblue;
}

a {
    text-decoration: none;
}

#gameOver {
    display: none;
    height:100px;
    border-style: solid;
    width:800px; 
    font-size: 5em;
    text-align: center;
    margin: auto;

}

#showScores {
    font-size: 1em;
    padding-top: 55px;

}


#highScores {
    display: none;
    text-align: center;
    margin: auto;
}

#scoresheet {
    display: none;
    margin-top: 300px;
    margin-left: 550px;
    background-color: rgb(170, 174, 175);
    height: 200px;
    width: 800px;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid lightblue;
   
    
    
}