header {
    background-color: lightblue;
    height: 75px;
    border-style: solid black;

}

#highscores {
    font-size: 1.5em;
    margin-top: 20px;
    float: left;
}

#time {
    font-size: 1.5em;
    margin-top: 20px;
    float: right;
}

section {
   text-align: center;
}


#quizBox {
    display: none;
    background-color: rgb(170, 174, 175);
    margin-top: 100px;
    height: 200px;
    border-style: dashed black;
}

#quizBoxquestions {
    font-size: 2em;
}

#quizBoxanswers {
    margin-top: 20px;
}

li {
    font-size: 1.25em;
    margin: auto;
    text-decoration: none;
}

li:hover {
    background-color: lightblue;
}

a {
    text-decoration: none;
}

#gameOver {
    display: none;
    height:100px;
    border-style: solid;
    width:800px; 
    font-size: 5em;
    text-align: center;
    margin: auto;

}


#highScores {
    display: none;
    text-align: center;
    margin: auto;
}